* {
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
}
.main{
    width :100%;
    height: 100%;
    /* display: flex; */
    /* background-color: #69a70c; */
}
.nav{
    display: flex;

    width : 100%;
    height: 50px;
    background-color: #283149;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    
}
.heading{
    /* position: fixed; */
}


.product1{
    display: flex;
    justify-content: space-around;
    background-color: #f8e9a1;
    flex-wrap: wrap;
}

.product1 img{
    padding: 2vh 4vw;
}

.product1 button{
    margin-left: 4vw;
    display: flex;
    margin-bottom: 1vh;
    margin-bottom: 1vw;
}

.item1 img{
    display: flex;
    width : 11vw;
}

.item1 button{
    /* margin-bottom: 1vw; */
    width: 10vw;
    height: 6vh;
    padding: 1vh 2vw;
}

.item2 img{
    width :16vw;
    display: flex;
}
.item2 button{
    /* margin-bottom: 1vw; */
     width: 10vw;
    height: 6vh;
    padding: 1vh 2vw;
}

@media (max-width: 500px){
    .product1{
        display: flex;
        flex-wrap:wrap;
        /* flex-direction: column; */
    }
    .product1 img{
        width : 100px;
        height: 100px;

         flex-wrap: wrap;
    }

    .product1 button{
        width : 80px;
    }
}

